@font-face {
    font-family: 'Comforta-bold';
    src: url(../fonts/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: 'Comforto-Regular';
    src: url(../fonts/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Robotton-Medium';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}