@import 'font.css';
@import 'all.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #040D1F;
}

:root {
    --CB: 'Comforta-bold';
    --MB: 'Montserrat-Bold';
    --CR: 'Comforto-Regular';
    --MR: 'Montserrat-Regular';
    --RBM: 'Robotton-Medium';
    --RBR: 'Roboto-Regular';
    --orange: #F18128;
    --black: rgb(0, 0, 0);
    --white: #ffffff;

}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header Start */
.header__poster {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    background-size: 600%;
    animation: bg-animate 4s infinite alternate-reverse;
}

@keyframes bg-animate {
    from {
        background-position: left;
    }

    to {
        background-position: right;

    }

}

.header__poster-icon {
    font-size: 50px;
    color: var(--white);
}

.header__poster-link {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.header__poster-text {
    font-family: var(--CR);
    max-width: 166px;
    width: 100%;
    font-size: 16px;
    color: var(--white);
}

.header__nav {
    background: rgba(1, 3, 5, 0.8);
    display: flex;
    justify-content: center;
    backdrop-filter: blur(15px);
}

.header__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header__nav-link {
    color: var(--white);
    line-height: 17px;
    font-size: 14px;
    font-family: var(--MR);
    transition: 0.5s;
    display: inline-block;
}

.header__nav-link:hover {
    color: #BF7204;

}

.header__nav-link::after {
    content: '';
    display: block;
    background-color: var(--orange);
    height: 2px;
    transition: 0.5s;
    width: 0;
    border-radius: 10px 10px 0px 0px;
}

.header__nav-logo {
    color: var(--white);
    font-family: var(--CB);
    font-size: 18px;
}

.f18l17,
.video__block-description {
    font-family: var(--CB);
    font-size: 18px;
    line-height: 17px;
}

.video__block-description {
    max-width: 558px;
    margin-top: 51px;
    margin-bottom: 52px;
    text-align: justify;
}

.header__nav-link span {
    padding: 42px 0px;
    display: inline-block;
}

.video__block-video {
    width: 100%;
}

.header__nav-link:hover::after {
    width: 100%;
    transition: 0.5s;
}

/* Header END */
/* Main Start */
.intro {
    background: rgba(7, 15, 25, 0.75);
    min-height: 640px;
    display: flex;
    position: relative;
    align-items: center;
}

.intro__comment-link-2 {
    font-family: var(--RBM);
    font-size: 16px;
    line-height: 12px;
}

.intro__comment-link-1 {
    font-family: var(--RBM);
    font-size: 16px;
    line-height: 12px;
}

.intro__content-links {
    display: flex;
    column-gap: 30px;
}

.button {
    display: inline-block;
    text-align: center;
    padding: 17px 0px 17px 0px;
    max-width: 166px;
    width: 100%;
    border-radius: 4px;
    transition: 0.5s;
    color: white;
    background-color: black;
}

.button:hover {
    background-color: var(--orange);
    color: black;
}

.intro__image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.intro__content-description {
    color: #C8C8C8;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--MR);
    max-width: 570px;
    width: 100%;
    margin-bottom: 50px;
    text-align: justify;
}

.intro__content-title {
    color: var(--white);
    font-size: 64px;
    line-height: 78px;
    font-family: var(--MB);
    margin-bottom: 30px;
}

.main__films {
    margin-top: 60px;
    margin-bottom: 77px;
}

.main__title {
    color: var(--orange);
    text-transform: capitalize;
    font-size: 36px;
    line-height: 40px;
    width: max-content;
    font-family: var(--CR);
}

.main__films-info {
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main__films-image {
    display: block;
}

.main__films-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.main__icon {
    cursor: pointer;
    color: var(--white);
    font-size: 40px;
}

.main__films-item {
    transition: 1.1s;
    position: relative;
    max-width: 255px;
    width: 100%;
}

.main__title::after {
    content: '';
    margin-top: 10px;
    display: block;
    background-color: var(--orange);
    width: 100%;
    height: 2px;
}

.main__films-time {
    color: var(--white);
    font-size: 14px;
    line-height: 10px;
    font-family: var(--MR);
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    margin-top: 12px;
    margin-bottom: 30px;
    border-radius: 9px;
    padding: 7px 27px;
}

.main__films-item:hover {
    transform: scale(1.09);
}

.main__films-title {
    color: var(--white);
    font-size: 22px;
    line-height: 27px;
    font-family: var(--MR);
    margin-bottom: 12px;
}

.main__films-description {
    color: var(--white);
    font-family: var(--RBR);
    font-size: 14px;
    line-height: 21px;
    max-width: 226px;
}

.video__block-video {
    margin-left: auto;
    display: block;
    min-height: 500px;
    width: 50%;
}

.video__block-info {
    position: absolute;
    width: 100%;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    height: 100%;
    padding-top: 42px;
    padding-bottom: 80px;
    top: 0;
}

.video__block {
    position: relative;
}

.collections__items {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.collections {
    margin-top: 61px;
    margin-bottom: 63px;
}

.collection__item {
    position: relative;
    max-width: 350px;
    width: 100%;
}

.collections__item-info {
    position: absolute;
    top: 0;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.collections__item-info::before{
    content: '';
    display: block;
    background: url(../img/rectangles.svg);
    width: 20px;
    height: 100px;
    position: absolute;
    left: 7px;
    top: 7px;
}
.collections__item-img{
    display: block;
    width: 100%;
}
.collections__item-title{
    color: var(--white);
    font-size: 20px;
    line-height: 22px;
    font-family: var(--CB);
    margin-top: 15px;
}
/* Main End */